* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 94%;
  margin: 10px auto;
}

h1 {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #008c74;
}

li {
  list-style-type: none;
}

#app > header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: fixed;
  top: 0;
  left: 3%;
  right: 3%;
  z-index: 100;
  background-color: #fff;
  opacity: 0.5;
}

header input[type='search'] {
  width: 250px;
  height: 30px;
  text-align: center;
}

header div img {
  width: 32px;
  height: 32px;
}

header img[src$='logo.svg'] {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  position: relative;
  top: 2px;
}

header nav ul li {
  display: inline-block;
  margin: 0 20px;
  font-size: 1.5rem;
}

header > div > img {
  width: 32px;
  height: 32px;
}

header div:last-of-type {
  min-width: 150px;
  bottom: 70px;
  position: relative;
  text-align: right;
}

header div:last-of-type > span {
  vertical-align: super;
}

header img[src$='search.svg'] {
  vertical-align: middle;
}

main header {
  margin: 20px 0;
}

header + div img {
  margin-top: 175px;
  width: 100%;
  height: 350px;
}

h2 {
  background-color: #008c74;
  color: #fff;
  text-align: center;
  padding: 24px 0;
  border-bottom: 1px solid #373740;
}

section div {
  display: flex;
}

article {
  padding: 20px;
  border: 1px solid #373740;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  color: #fff;
}

article:first-of-type {
  background-color: #261c1a;
  color: #fff;
}

article ul,
article p {
  margin-bottom: 50px;
}

button {
  z-index: 0;
  width: 200px;
  height: 56px;
  font-size: 14px;
  font-weight: bold;
  color: #008c74;
  letter-spacing: 2px;
  margin-top: 50px;
  transition: all 0.3s ease;
}

article:first-of-type ul li {
  list-style-type: disc;
  margin-left: 25px;
}

article:nth-of-type(2) {
  background-color: #8c807b;
}

article:nth-of-type(3) {
  background-color: #373740;
}

article img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  transition: transform 0.2s;
}

h3 {
  padding: 10px 0;
}

section + div {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  justify-content: space-between;
}

section + div div {
  margin: 5px;
  width: calc(25% - 10px);
  line-height: 150px;
  text-align: center;
  height: 150px;
  border: 1px solid #05080d;
}

section + div div:nth-of-type(4n + 1) {
  margin-left: 0;
}

section + div div:nth-of-type(4n + 4) {
  margin-right: 0;
}

section + div div:nth-child(2n) {
  background-color: #008c74;
}

section + div div:nth-child(2n + 1) {
  background-color: #373740;
}

footer * {
  padding: 5px;
}

footer > * {
  border: 0.5px outset #261c1a;
}

footer {
  color: #373740;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 70px repeat(2, 1fr) 50px;
}

footer > ul:first-of-type {
  grid-column: 1 / -1;
  min-width: 250px;
  margin: 10px auto;
  line-height: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
}

footer ul:first-of-type img {
  width: 32px;
  height: 32px;
}

footer > ul:first-of-type li {
  display: inline-block;
}

footer img[src$='logo.svg'],
footer div:first-of-type {
  padding: 0 !important;
}

footer img {
  vertical-align: middle;
}

footer figure {
  grid-column: 1 / 2;
}

footer div:first-of-type {
  grid-column: 2 / 4;
}

footer div:nth-of-type(2) {
  grid-column: 4 / 6;
}

footer div:nth-of-type(3) {
  grid-column: 6 / 8;
}

footer div:nth-of-type(4) {
  grid-column: 1 / 3;
  grid-row-start: 3;
}

footer div:nth-of-type(5) {
  grid-column: 3 / 5;
  grid-row-start: 3;
}

footer div:nth-of-type(6) {
  grid-column: 5 / 8;
  width: 100%;
  height: 100%;
}

footer iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

footer div:last-of-type {
  grid-column: 1 / -1;
  grid-row: 4 / -1;
  text-align: center;
  line-height: 40px;
}

/*Modal*/

#modal {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content > header {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.modal-content > header img {
  width: 32px;
  height: 32px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal input[type='submit'] {
  color: #fff;
  background-color: #008c74;
  border-color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.modal-content > div span {
  padding: 0.375rem 0.75rem;
  margin: 10px auto;
}

/*FORMS*/

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 10px 0;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
